$color-red = red
$color-green = #67c23a
$colorYellow = #ffd117
$colorPrimary = #FA6400
$primary = #FA6400
$btnColor = #FD9600
$colorPrimaryText = #333
$colorGray = #EAEAEA
$pageMarginTop = 75px
$lighter = #f8f9fb

$conditionWidth = 1600px
$largeMinScreenWidth = 1400px
$smMinScreenWidth = 1280px

$aniTime = 0.15s

